{% for trash in site.data.trash %}
    <li class="direction">
        <div>
            <div class="flag-wrapper">
                <span class="flag">{{trash.songname}}</span>
                <span class="time-wrapper"><span class="time">{{ trash.date | date_to_string }}</span></span>
            </div>
            <div class="desc"><iframe src={{trash.spotify_url}} width="280" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
            <audio controls>
                <source src={{trash.comment_url}} type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </li>
{% endfor %}